@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Order Confirmation";
}

<h2>Order Confirmation</h2>

<p>Your order has been placed successfully!</p>

<!-- Access the orderId from the query string -->
<p>Order ID: @Context.Request.Query["OrderId"]</p>

<!-- You can add further details like order summary here -->
