@{
    ViewData["Title"] = "Home Page";
}


<div class="text_center">
    <h1 class ="display-4"> Welcome to Clothify</h1>
    <p>Explore our range of clothing and fashion items!</p>

    <div class="btn-group">
        <!-- Login Button -->
        <a href="/Login/Login" class="btn btn-primary">Login</a>

        <!-- SignUp Button -->
        <a href="/Login/SignUp" class="btn btn-secondary">SignUp</a>
    </div>

</div>